
<!-- Success Message  -->
<div class="modal fade" id="confirm_delete_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h5 class="modal-title" id="">Confirm Account Deletion</h5>
        </div>
        <div class="modal-body">
          <strong><p id="confirm_delete_message" class="text-center">Are you sure you want to delete this account?</p></strong>
        
        </div>
        <div class="modal-footer bg-warning">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <buton type="button" class="btn btn-white" onclick="delete_account(this);">Confirm</buton>
        </div>
      </div>
    </div>
</div>