<!-- Create Account Modal -->
<div class="modal fade" id="sucess_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
      <div class="modal-content border border-danger">
        <div class="modal-header modal-danger">
          <h5 class="modal-title" id="">Error</h5>
        </div>
        <div class="modal-body border border-danger">
            <p id="error_message" class="text-center"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>