{% extends 'login/wrapper.html' %}

 {% block widgets %}
 <div class="row">
     <h3>Password Reset Complete</h3>
     
     <p>
        Your password has been set. 
        You may go ahead and log in now.
    </p>
    <div class="row" style="display: flex; justify-content: center;">
        <a href="/" class="btn btn-success" style="width: 100px;">Log In</a>
    </div>
 </div>
 {% block body_elements %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script type="text/javascript">
    $( document ).ready(function() {
        $('#reset_password_link').prop('hidden', true);
        $('#create_account_link').prop('hidden', true);
    });
 </script>
 {% endblock %}

 {% endblock %}