{% extends 'login/wrapper.html' %}

 {% block widgets %}
 <div class="row">
     <h3>Password Reset Sent</h3>
     
     <p>
        We've Emailed you instructions for setting your password, 
        if an account exists with the email you entered. 
        You should recieve them shortly.
    </p>
    
    <p>
        If you dont recieve an email, 
        please make sure you've entered the address 
        you registered with, and check your spam folder.
    </p>
    <div class="row" style="display: flex; justify-content: center;">
        <a href="/" class="btn btn-success" style="width: 200px;">Return Back to Log In</a>
    </div>
 </div>
 {% block body_elements %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script type="text/javascript">
    $( document ).ready(function() {
        $('#reset_password_link').prop('hidden', true);
        $('#create_account_link').prop('hidden', true);
    });
 </script>
 {% endblock %}

 {% endblock %}