{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>FinFreedom</title>
        <meta name="viewport" content="width-device-width, initial-scale=1.0" />
        <meta content="A Finance/Budget Managing App to help users achieve Financial Freedom" />
        <meta content="FinFreedom" author="Matthias Bogarin" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static '/css/styles.css' %}">
        <!-- <link rel="stylesheet" href="../../static/css/styles.css"> -->

    </head>

    <body>

        <div style="height: 100vh; width: 100vw; padding: 0; margin: 0;">
            <div class="row m-auto h-100">
                <div class="col-md-12" style="margin: 0;">
                    <div class="row bg-primary border border-dark" style="display: flex; height: 100vh; width: 100vw; justify-content: center; align-items: center; padding: 0;">
                        <div class="row" style="display: flex; justify-content: center; height: 50%; padding: 0;">
                            <img style="width: 50%; height: 100%; margin: 0; padding:0;" src="{% static 'assets/images/finfreedom_logo.png' %}">
                        </div>
                        <div class="row" style="margin: 0; padding: 0; height: 50%;">
                            <div class="col-3"></div>
                            <div class="col-6 h-50 w-50">
                                <!-- <h1 class="text-center" >FinFreedom</h1> -->
                                <div class="card-body mt-3 border border-dark rounded bg-secondary w-100 h-100" style="display: flex; justify-content: center; align-items: center;">
                                    {% block widgets %}
                                    {% endblock %}
                                </div>
                                <div class="row w-100" style="margin-left: .10rem;">
                                    <div class="col-6">
                                        <a href="/reset_password" id="reset_password_link" class="text-dark float-start"><small>Forgot your password?</small></a>                                        
                                    </div>
                                    <div class="col-6">
                                        <a href="javascript:void(0);" id="create_account_link" onclick="$('#create_account_modal').modal('show');" class="text-dark float-end"><small>Create FinFreedom Profile</small></a>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block body_elements %}  
        {% endblock %}

        {% include 'modals/create_account.html' %}
        {% include 'modals/success_message.html' %}
        {% include 'modals/error_message.html' %}
    </body>
 
</html>